# Build results
bin/
obj/
out/
obj\

# Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
.csproj
.resx

# Backup & temp files
*.tmp
*.bak
*.swp
*.vsidx
*~
*.cache
*.AssemblyInfoInputs.cache
*.json
*.props
*.json
*.vsidx
obj/Debug/net9.0-windows/KenshiPatcher.AssemblyInfoInputs.cache
obj/Debug/net9.0-windows/KenshiPatcher.AssemblyInfo.cs
.vs/KenshiPatcher/FileContentIndex/9c6e593e-34e6-4ca8-a559-8ef0909a76f7.vsidx
.vs/KenshiPatcher/FileContentIndex/95873ba8-3c88-4941-8646-777b75f9fb01.vsidx
.vs/KenshiPatcher/FileContentIndex/79230544-2bb3-4aaa-8348-6e82bf13e0f9.vsidx
.vs/KenshiPatcher/FileContentIndex/3b93653a-7ea1-446d-9618-86c5c8a5686b.vsidx
.vs/KenshiPatcher/FileContentIndex/0850c7b2-e2aa-4afd-9094-3a1d8663151b.vsidx
KenshiPatcher.csproj
